* {
	box-sizing: border-box;
}

body {
	background-color: #262626;
	text-align: center;
	font-size: 2vmin;
}

.main {
	display: inline-block;
	margin-top: 20px;
	width: 1240px;
	height: 1755px;
	border: 1px solid black;
	background-color: #ffffff;
}

.main p {
	height: 16px;
}

.left {
	float: left;
	width: 35%;
	padding-right: 2%;
	border: 1px solid #696969;
	text-align: right;
}

.left p {
	text-transform: uppercase;
}

.right	{
	float: left;
	width: 35%;
	border: 1px solid #696969;
	text-align: left;
}

.avatar {
	width: 30%;
	border: 1px solid #696969;

}
